/* Responsive styles */
@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-menu {
        display: none; /* Hide the navbar by default on mobile */
        flex-direction: column; /* Stack the items vertically */
        width: 100%; /* Make it full-width */
        background-color: rgba(0, 0, 0, 0.75); /* Add some transparency */
        position: absolute;
        top: 80px; /* Position below the navbar */
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column; /* Stack the nav items vertically */
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .emphasized-title {
        font-size: 3rem;
    }

    .navbar-menu.show {
        display: flex; /* Show the navbar when toggled */
    }
}
